<kendo-grid
  class="kudo-grid fixed"
  [height]="'auto'"
  [data]="state"
  [columnMenu]="false"
  [pageSize]="searchState.size"
  [pageable]="{
    buttonCount: searchState.buttonCount,
    pageSizes: searchState.pageSizes
  }"
  [skip]="searchState.skip"
  (pageChange)="pageChange($event)">
  <ng-template kendoGridToolbarTemplate>
    <button
      mat-raised-button
      class="btn btn-default"
      style="background-color: #3f51b5; margin: -10px 0"
      [routerLink]="['/product/create']">
      Thêm sản phẩm
    </button>
  </ng-template>
  <kendo-grid-column field="code" title="Mã sản phẩm" width="150">
  </kendo-grid-column>
  <kendo-grid-column
    title="Hình ảnh"
    width="200">
    <ng-template kendoGridCellTemplate let-dataItem>
      <img
        class="product-image"
        *ngIf="dataItem.imagePaths && dataItem.imagePaths.length"
        src="{{dataItem.imagePaths[0]}}"
        alt="{{dataItem.name}}">
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Tên sản phẩm" width="250">
  </kendo-grid-column>
  <kendo-grid-column
    title="Loại sản phẩm"
    width="200">
    <ng-template kendoGridCellTemplate let-dataItem>
      <pre class="list-categories">{{dataItem.categories | json | kudoJsonArray : '\n' : '- $' : 'name'}}</pre>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="description" title="Chi tiết" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="price" title="Giá gốc" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="sellPrice" title="Giá bán" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="availableQuantity" title="Số lượng trong kho" width="170">
  </kendo-grid-column>
  <kendo-grid-column
    title="Thao tác"
    width="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button mat-raised-button class="btn btn-warning btn-round btn-just-icon mr-2" (click)="openUpdateDialog(dataItem.id)">
        <i class="material-icons">edit</i>
      </button>
      <button mat-raised-button class="btn btn-danger btn-round btn-just-icon" (click)="delete(dataItem.id)">
        <i class="material-icons">delete</i>
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>