<kendo-grid
  class="kudo-grid fixed"
  [height]="'auto'"
  [data]="state"
  [columnMenu]="false"
  [pageSize]="searchState.size"
  [pageable]="{
    buttonCount: searchState.buttonCount,
    pageSizes: searchState.pageSizes
  }"
  [loading]="state.loading"
  [skip]="searchState.skip"
  (pageChange)="pageChange($event)">
  <kendo-grid-column field="id" title="ID" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="description" title="Mô tả chi tiết" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="quantity" title="Số lượng sản phẩm" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="product.name" title="Tên sản phẩm" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="date" title="Ngày" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="time" title="Giờ" width="150">
  </kendo-grid-column>
  <kendo-grid-column
    title="Loại"
    width="200">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.isIssued ? 'Xuất kho' : 'Nhập kho'}}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
