<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Cập nhật Sản Phẩm</h4>
            <p class="card-category">Nhập các thông tin sau đây để cập nhật sản phẩm</p>
          </div>
          <div class="card-body pt-4">
            <form [formGroup]="form" (submit)="updateProduct($event)">
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mã sản phẩm" type="text" formControlName="code" (input)="checkTimeOut()">
                    <mat-error *ngIf="form.controls['code'].errors?.required">Vui lòng nhập Mã sản phẩm</mat-error>
                    <mat-error *ngIf="form.controls['code'].errors?.duplicatedCode">Mã sản phẩm đã tồn tại</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tên sản phẩm" type="text" formControlName="name">
                    <mat-error *ngIf="form.controls['name'].invalid">Vui lòng nhập Tên sản phẩm</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Mô tả sản phẩm" rows="5" formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Loại sản phẩm</mat-label>
                    <mat-select formControlName="categoryIds" multiple>
                      <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['categoryIds'].invalid">Vui lòng chọn Loại sản phẩm</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Giá gốc sản phẩm (VNĐ)" [textMask]="{mask: quantityNoDecMask}" type="text" formControlName="originalPrice">
                    <mat-error *ngIf="form.controls['originalPrice'].invalid">Vui lòng nhập Giá gốc sản phẩm</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Giá bán (VNĐ)" [textMask]="{mask: quantityNoDecMask}" type="text" formControlName="sellPrice">
                    <mat-error *ngIf="form.controls['sellPrice'].invalid">Vui lòng nhập Giá bán</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <kudo-image-upload
                      [UploadText]="'Tải ảnh lên'"
                      [PreviewText]="'Xem trước'"
                      [RemoveText]="'Xóa ảnh'"
                      placeholder="Hình ảnh"
                      formControlName="imagePaths">
                    </kudo-image-upload>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-warning">Cập nhật</button>
              <button mat-raised-button class="btn btn-secondary" (click)="closeDialog($event)">Hủy</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>