<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Đổi Mật Khẩu</h4>
                      <p class="card-category">Nhập đầy đủ các thông tin sau đây để thực hiện đổi mật khẩu</p>
                  </div>
                  <div class="card-body pt-4">
                      <form [formGroup]="form" (submit)="changePassword($event)">
                          <div class="row mb-3">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mật khẩu hiện tại" type="password" formControlName="oldPassword">
                                  <mat-error *ngIf="form.controls['oldPassword'].invalid">Vui lòng nhập Mật khẩu hiện tại</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mật khẩu mới" type="password" formControlName="newPassword">
                                  <mat-error *ngIf="form.controls['newPassword'].errors?.required">Vui lòng nhập Mật khẩu mới</mat-error>
                                  <mat-error *ngIf="form.controls['newPassword'].errors?.newPassInvalid">Mật khẩu mới không được trùng Mật khẩu hiện tại</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nhập lại Mật khẩu mới" type="password" formControlName="rePassword">
                                  <mat-error *ngIf="form.controls['newPassword'].value && form.controls['rePassword'].errors?.required">Vui lòng nhập lại Mật khẩu mới</mat-error>
                                  <mat-error *ngIf="form.controls['rePassword'].errors?.repassNotMatched">Mật khẩu mới không khớp</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                      </form>
                  </div>
              </div>
      </div>
  </div>
</div>
