<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header card-header-product">
                      <h4 class="card-title">Danh Sách Sản Phẩm</h4>
                      <p class="card-category">Your subtitle here</p>
                  </div>
                  <div class="card-body pt-4">
                    <app-product-view></app-product-view>
                  </div>
              </div>
      </div>
  </div>
</div>
