<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Cập nhật Loại Sản Shẩm</h4>
            <p class="card-category">Nhập tên Loại sản phẩm để cập nhật</p>
          </div>
          <div class="card-body pt-4">
            <form [formGroup]="form" (submit)="updateCategory($event)">
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tên loại sản phẩm" type="text" formControlName="name">
                    <mat-error *ngIf="form.controls['name'].invalid">Vui lòng nhập Tên loại sản phẩm</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-success">Cập nhật</button>
              <button mat-raised-button class="btn btn-secondary" (click)="closeDialog($event)">Hủy</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>